<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeGenerator.Properties.Settings>
            <setting name="tk0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tk1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tk2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tk3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tk4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tk5" serializeAs="String">
                <value>0</value>
            </setting>
        </CodeGenerator.Properties.Settings>
    </userSettings>
</configuration>