<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

namespace PluginOne
{
    public partial class PluginLogic
    {
        static partial void AddTreeNodeItems(List<TreeNode> items)
        {
            TreeNode nodesGroup;
<#
    var inputCount = 8;
    var types = new Tuple<string, string, string>[] { new("Or", "1", "Дизъюнкция"), new("And", "&", "Конъюнкция"), new("Xor", "=1", "Исключающее ИЛИ") };
    foreach (var type in types)
    {
#>
            nodesGroup = new TreeNode("<#= type.Item3 #>");
            items.Add(nodesGroup);
<#
        for (var i = 2; i <= inputCount; i++)
        {
#>
            nodesGroup.Nodes.Add(new TreeNode("<#= type.Item1.ToUpper() #><#= i #>") { Tag = typeof(<#= type.Item1 #><#= i #>) });
<#
        }
    }
#>
        }
    }

<#
    foreach (var type in types)
    for (var i = 2; i <= inputCount; i++)
    {
        List<string> holder = [];
        for (var j = 1; j <= i; j++)
            holder.Add("false");
#>
    public class <#= type.Item1 #><#= i #> : Cell
    {
        public <#= type.Item1 #><#= i #>()
        {
            FuncName = "<#= type.Item2 #>";
            FuncDesc = "<#= type.Item3 #>";
            InvertInputs = [<#= string.Join(", ", holder) #>];
            InvertOutputs = [false];
            Inputs = [<#= string.Join(", ", holder) #>];
            Outputs = [false];
        }
    }

<#
    }
#>
}